/**
 * Colors used throughout the application
 */
$border: rgba(0, 0, 0, 0.1);
$black: #000000;
$gray: #90949b;
$dark-gray: #686c72;
$light-gray: #eff0f2;
$green: #61a863;
$blue: #2d8ce5;
$red: #e5395b;
