/**
 * Styling for the whole application
 */
@import './colors.scss';
@import './nav.scss';

html,
body,
a,
p,
li {
  font-family: 'Roboto', sans-serif;
}

p,
a,
li,
pre {
  font-size: 1.2rem;
}

.text {
  line-height: 1.5;
}

@media screen and (max-width: 848px) {
  p,
  a,
  li {
    font-size: 1rem;
  }
}

code {
  background: $light-gray;
  border-radius: 0.2rem;
  padding: 0.1rem 0.25rem;
}

.route-text {
  background: $light-gray;
  padding: 0.5rem;
  border-radius: 0.2rem;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  color: black;
  text-decoration: none;

  &:focus,
  &:active,
  &:hover {
    color: black;
    text-decoration: none;
    background: darken($light-gray, 5%);
  }

  .type {
    padding: 0.25rem 0.5rem;
    border-radius: 0.2rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-transform: uppercase;

    &.get {
      background: $green;
    }

    &.delete {
      background: $red;
    }

    &.post {
      background: $blue;
    }
  }
}

.code-block {
  background: $light-gray;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.mono,
code,
pre {
  font-family: 'Roboto Mono', monospace;
}

.content {
  padding: 1rem 0rem;
}

.btn.btn-primary {
  border: 0px solid transparent !important;
  background: $blue;
  font-size: 1.2rem;

  &:hover,
  &:active,
  &:focus {
    background: lighten($blue, 5%);
  }
}
