/**
 * Styling for the navbar
 */
.nav {
  box-shadow: 0rem 0.1rem 0.1rem $border;
  background: darken($blue, 20%);
  line-height: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $border;
  color: white;

  .nav-content {
    display: flex;

    .logo {
      font-size: 1.4rem;
      margin-bottom: 0rem;
      line-height: 2rem;
    }

    .links {
      flex: 1;
      text-align: right;

      a {
        margin-left: 1rem;
        color: lighten($blue, 30%);
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
          color: lighten($blue, 60%);
          text-decoration: none;
        }
      }
    }
  }
}
