/**
 * Styling for the whole application
 */
/**
 * Colors used throughout the application
 */
/**
 * Styling for the navbar
 */
.nav {
  box-shadow: 0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  background: #eff0f2;
  line-height: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .nav .nav-content {
    display: flex; }
    .nav .nav-content .logo {
      font-size: 1.4rem;
      margin-bottom: 0rem;
      line-height: 2rem; }
    .nav .nav-content .links {
      flex: 1;
      text-align: right; }
      .nav .nav-content .links a {
        margin-left: 1rem;
        color: #90949b;
        text-decoration: none; }
        .nav .nav-content .links a:hover, .nav .nav-content .links a:active, .nav .nav-content .links a:focus {
          color: #686c72;
          text-decoration: none; }

html,
body,
a,
p,
li {
  font-family: 'Roboto', sans-serif; }

p,
a,
li,
pre {
  font-size: 1.2rem; }

@media screen and (max-width: 848px) {
  p,
  a,
  li {
    font-size: 1rem; } }

code {
  background: #eff0f2;
  border-radius: 0.2rem;
  padding: 0.1rem 0.25rem; }

.route-text {
  background: #eff0f2;
  padding: 0.5rem;
  border-radius: 0.2rem;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  color: black;
  text-decoration: none; }
  .route-text:focus, .route-text:active, .route-text:hover {
    color: black;
    text-decoration: none;
    background: #e1e3e7; }
  .route-text .type {
    padding: 0.25rem 0.5rem;
    border-radius: 0.2rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-transform: uppercase; }
    .route-text .type.get {
      background: #61a863; }
    .route-text .type.delete {
      background: #e5395b; }
    .route-text .type.post {
      background: #2d8ce5; }

.code-block {
  background: #eff0f2;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem; }

.mono,
code,
pre {
  font-family: 'Roboto Mono', monospace; }

.content {
  padding: 1rem 0rem; }
