<div class="nav">
  <div class="container">
    <div class="nav-content">
      <h1 class="logo">Nalda API</h1>
      <div class="links">
        <a href="/">All routes</a>
        <a href="/articles">Articles</a>
        <a href="/videos">Videos</a>
        <a href="/listings">Listings</a>
        <a href="/admin">Admin</a>
      </div>
    </div>
  </div>
</div>
